@using AjaxAction
@using Sandbox.Asp46.Controllers
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meine ASP.NET-Anwendung</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
	<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
	<script type="text/javascript" src="@Url.Content("~/Scripts/AjaxHub/AjaxHub.js")"></script>
	@Html.RegisterHub()
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
	            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
	            </button>
	            @Html.ActionLink("Anwendungsname", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Startseite", "Index", "Home")</li>
                    <li>@Html.ActionLink("Info", "About", "Home")</li>
                    <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
<div class="container body-content">
	<script type="text/javascript">
		
		AjaxHubCallRequestStart = function (args) {
			console.log("AjaxHubCallRequestStart");
			console.log(arguments);
		}

		AjaxHubCallRequestDone = function (args) {
			console.log("AjaxHubCallRequestDone");
			console.log(arguments);
		}

		callBeforeTestMethodB = function (args) {
			console.log("beforeCall");
			console.log(arguments);
		}

		callAfterTestMethodB = function (args) {
			console.log("afterCall");
			console.log(arguments);
		}
	</script>
	<button onclick="AjaxHub.Home.@(nameof(HomeController.TestMethodB))('some text', 42);">execute ajax hub call @(nameof(HomeController.TestMethodB))</button>
	@RenderBody()
	<hr/>
	<footer>
		<p>&copy; @DateTime.Now.Year - Meine ASP.NET-Anwendung</p>
	</footer>
</div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
